
.my-title {
    /* height: 70px; */
    padding-top: 25px;
    padding-bottom: 30px;
}

.my-result {
    margin: 10px;
    background-color: ghostwhite;
    border: 1px solid darkgray;
    height: 200px;
    /* overflow: hidden; */
    overflow: scroll;
}

.page-footer {
    margin-top: 25px;
    background-color: whitesmoke;
}